@model Courier_Management_System.Models.usersiteViewModel
@{
    ViewBag.Title = "IndexView";

}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="img-">
    <img src="~/Content/Images/background3.jpg" alt="..." style="width:100%">
</div>
<h2 style="margin-top:30px;font-family:'Times New Roman', Times, serif;color:midnightblue;margin-bottom:30px">Home</h2>
<div class="body-content">
    This is a website to help you to reach  your valuable things to your dearest one or vice versa make easier and safer. You can send/receive courier to/from any district.
    Inside Dhaka you will cost 50tk and outside the Dhaka you will cost 100tk as a delivery charge. For emergency purpose you have to add 50tk extra so that you get/send your parcel in a very short amount of time.
    Thank you.
</div>
